.wrapper {
  max-width: 1425px;
  //   padding: 0 16px;
  position: relative;
  z-index: 1;
}
.cards {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #2b2b2c;
  margin: 30px 0;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  .img {
    // background-image: url(https://resizing.flixster.com/_suBUkrhJoxiUqiRIuQncCEhJ-o=/ems.cHJkLWVtcy1hc3NldHMvdHZzZWFzb24vYWI1NDExNWMtZGJiYS00Mjg2LTk2NTYtOTJkODA0N2M2YzMxLmpwZw==);
    height: 285px;
    width: 100%;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 20%;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 0%;
      width: 100%;
      bottom: 0;
      transition: height 0.5s ease-out;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
    }
    &:hover:before {
      height: 50%;
    }
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #ffff;
    padding: 10px 0;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    padding: 0 0 10px;
  }
  .text {
    padding: 0 10px;
  }
  .btn {
    padding: 5px 16px;
    background-color: #30353c;
    color: rgb(87, 153, 239);
    cursor: pointer;
    border-radius: 4px;
    min-width: 12rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    &:hover {
      background-color: rgba(33, 108, 207, 0.315);
    }
  }
}
#transparent {
  background-color: transparent !important;
  color: #ffff !important;
  margin-top: 10px;
}
#transparent:hover {
  background-color: #30353c !important;
}
@media screen and (min-width: 1500px) {
  .wrapper {
    padding: 0;
  }
}
// @media screen and (min-width: 1024px) {
//   .wrapper {
//     padding: 0 24px;
//   }
// }
