.wrapper{
    padding: 0 24px;
}
.cards_wrapper{
    padding: 24px 24px 32px;
    background-color: #2B2B2C;
    margin: 30px 0 0;
    border-radius: 16px;

}
.smcards{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 32px 24px;
}
.smcard{
    align-items: flex-start;
    display: flex;
    gap: 24px;
    .thumb {
        img{
            border-radius: 8px;
            flex-shrink: 0;
            line-height: 0;
            overflow: hidden;
            width: 64px;
        }
    
        
    }
    .details{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-top: 10px;
        ul{
            align-items: center;
            display: flex;
            gap: 12px;
            margin-bottom: 2px;
            li{
                color: #707170;
                font-size: 12px;
                line-height: 1;
            }
        }
        h3{
            font-size: 16px;
    line-height: 1.42;
    margin-bottom: 6px;
    color: #fff;
    font-weight: 600;
        }
        span{
            background-color: #373737;
            border-radius: 4px;
            font-size: 10px;
            max-width: max-content;
            padding: 4px 6px;
            font-weight: 600;
            color: #fff;
        }
        }
        .rating{
            align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 12px;
    width: 44px;
    .circle_rate{
        position: relative;
    width: 100%;
    height: 100%;
    svg{
        background-color: #574B2C;
        border-radius: 50%;
        width: 100%;
    }
    .rate{
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            font-weight: 600;
            position: relative;
            font-size: 14px;
            color: #fff;
        }
    }
    }
    }
    &:hover h3{
        color: #6EDA78;
    }
        }
    